<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertActivite</servlet-name>
        <servlet-class>controller.InsertActivite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertBouquet</servlet-name>
        <servlet-class>controller.insertBouquet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>liste</servlet-name>
        <servlet-class>controller.liste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeActivite</servlet-name>
        <servlet-class>controller.ListeActivite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert_lieu</servlet-name>
        <servlet-class>controller.Insert_lieu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert_voyage</servlet-name>
        <servlet-class>controller.Insert_voyage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertActiviteVoyage</servlet-name>
        <servlet-class>controller.InsertActiviteVoyage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiltrePrix</servlet-name>
        <servlet-class>controller.FiltrePrix</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutStock</servlet-name>
        <servlet-class>controller.AjoutStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reservation</servlet-name>
        <servlet-class>controller.Reservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reste</servlet-name>
        <servlet-class>controller.Reste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiltreBenefice</servlet-name>
        <servlet-class>controller.FiltreBenefice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouPoste</servlet-name>
        <servlet-class>controller.AjouPoste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employer</servlet-name>
        <servlet-class>controller.Employer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutEmployer</servlet-name>
        <servlet-class>controller.AjoutEmployer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiviteEmployer</servlet-name>
        <servlet-class>controller.ActiviteEmployer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeEmployer</servlet-name>
        <servlet-class>controller.ListeEmployer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualiser</servlet-name>
        <servlet-class>controller.Actualiser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertActivite</servlet-name>
        <url-pattern>/InsertActivite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertBouquet</servlet-name>
        <url-pattern>/insertBouquet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>liste</servlet-name>
        <url-pattern>/liste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeActivite</servlet-name>
        <url-pattern>/ListeActivite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert_lieu</servlet-name>
        <url-pattern>/Insert_lieu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert_voyage</servlet-name>
        <url-pattern>/Insert_voyage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertActiviteVoyage</servlet-name>
        <url-pattern>/InsertActiviteVoyage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiltrePrix</servlet-name>
        <url-pattern>/FiltrePrix</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutStock</servlet-name>
        <url-pattern>/AjoutStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reservation</servlet-name>
        <url-pattern>/Reservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reste</servlet-name>
        <url-pattern>/Reste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiltreBenefice</servlet-name>
        <url-pattern>/FiltreBenefice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouPoste</servlet-name>
        <url-pattern>/AjouPoste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employer</servlet-name>
        <url-pattern>/Employer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutEmployer</servlet-name>
        <url-pattern>/AjoutEmployer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiviteEmployer</servlet-name>
        <url-pattern>/ActiviteEmployer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeEmployer</servlet-name>
        <url-pattern>/ListeEmployer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualiser</servlet-name>
        <url-pattern>/Actualiser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
